.register-container {
  position: absolute;
  max-width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 112, 147, 0.476);
}
